/* imersão 1 */
body{
    background-color: #000;
    /* imersão 3 */
    font-family: var(--font-dm-sans);
    /* imersão 3 */

}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:12px;
    width:300px;
}
/* menu de navegação */
.sidebar__navigation{
    background-color: #121212;
    border-radius:8px;
    padding:16px 0 0 16px;
    /*  */
    margin: 0%;
}

.logo{
    background: #121212;
    display:flex;
    border-radius:8px ;
    padding:16px 0 0 16px;
}

.sidebar__navigation .logo img{
    width:80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding:0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

li{
    color: #b3b3b3;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    /* imersão 2 or 1 */
    /* font-family: "DM Sans", sans-serif; */
    /* imersão 2 or 1*/
}

.library{
    background-color:#121212;
    border-radius:8px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size:14px;
    margin-top: 10px;
}

.library .library__content{
    display:flex;
    justify-content: space-between;
}

.library .library__button{
    display:flex;
    margin-right: 10px;
    color:#b3b3b3;
    background-color: transparent;
    border:0px;
    font-size: 14px;
    font-weight: 700;
    /* imersão 2 or 1 */
    /* font-family: "DM Sans", sans-serif; */
    /* imersão 2 or 1 */
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding:20px 10px;
}

.library .library__button .fa{
    font-size:20px;
    font-weight: 300;
    color:#b3b3b3;
    margin-right: 10px;
    padding-right:8px;
}

.library .library__content .fa-plus{
    margin: 24px 10px;
}

.section-playlist{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding:16px 20px;
    border-radius:10px;
}

.section-playlist .section-playlist__content{
    display:flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom:14px;
    color:#FFF;
    /* imersão 2 or 1 */
    /* font-family: "DM Sans", sans-serif; */
    /* imersão 2 or 1 */
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    color:#000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    /* imersão 2 or 1 */
    /* font-family: "DM Sans", sans-serif; */
    /* imersão 2 or 1 */
    text-decoration:none;
    text-transform: none;
    padding:10px;
    margin-top: 12px;
    border:0;
    width: 113px;
}

.sidebar .cookies{
    margin:25px 20px;
}

.sidebar .cookies a{
    color:#b3b3b3;
    /* imersão 2 or 1 */
    /* font-family: "DM Sans", sans-serif; */
    /* imersão 2 or 1 */
    font-weight: 500;
    font-size:10px;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color:#FFF;
    font-weight: bold;
    cursor:pointer;
    width: 170px;
    margin:8px;
    padding:8px;
    border-radius:20px;
}
/* imersão 1 */

/* imersão 2 */
 .disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex
;
    justify-content: space-between;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* folha de estilos de agente de usuário */
footer {
    display: block;
    unicode-bidi: isolate;
}
body {
    line-height: 1;
    background: #000;
    /* imersão 2 or 1 */
    /* font-family: var(--font-dm-sans); */
    /* imersão 2 or 1 */
}
:root {
    --text-base-dark: #000;
    --text-base-light: #fff;
    --text-sub: #a7a7a7;
    --bg-icon: #131313;
    --bg-top-bar: #61616142;
    --grid-gap: 24px;
    --column-count: 5;
    --card1: rgb(0, 100, 80);
    --card2: rgb(132, 0, 231);
    --card3: rgb(30, 50, 100);
    --card4: rgb(140, 25, 50);
    --card5: rgb(232, 17, 91);
    --card6: rgb(83, 122, 161);
    --card7: rgb(142, 102, 172);
    --card8: rgb(20, 138, 8);
    --card9: rgb(30, 50, 100);
    --card10: rgb(233, 20, 41);
    --card11: rgb(80, 55, 80);
    --card12: rgb(216, 64, 0);
    --card13: rgb(186, 93, 7);
    --card14: rgb(0, 30, 80);
    --card15: rgb(60, 30, 80);
    --font-dm-sans: "DM Sans", sans-serif;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}    

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button{
    background-color: #ffffff;
    color: 0#000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}
/* imersão 2 */

/* imersão 3 */

/*PlayList */
/* importanter para ver menu de Play */
.playlist-container{
height: 68vh;
padding-top: 16px;
margin: 10px 330px;
border-radius: 10px;
background-color: #121212;
}

.playlist {
    margin: 24px;
}   

.playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .greeting-subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
/* imersão 3 */