@media screen and (max-width: 1015px) {
  .header__search {
    width: auto !important;
    display: none;
    
  }
}

@media screen and (min-width: 1016px) and (max-width: 1140px) {
  .header__search {
    width: auto !important;
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .playlist {
    display: none;
  }

  .playlist-container {
    max-width: 100%; /* Ocupa toda a largura disponível */
    height: auto; /* Altura automática, ajusta conforme o conteúdo */
  }

  .sidebar {
    width: 342px;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
}

  .offer__scroll-container {
    overflow-y: visible;
  }
}

.offer__scroll-container {
  width: 90%;
}        


@media (max-width: 1450px) {
    .offer__list {
      font-size: 18px;
  }

  .offer__list-item  {
    grid-template-columns: repeat(4, 4fr);
  }
}

@media (max-width: 1100px) {
    .offer__list {
      font-size: 18px;
  }

  .offer__list-item  {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (max-width: 860px) {
    .offer__list {
      font-size: 18px;
  }

  .offer__list-item  {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 740px) {
    .offer__list {
      font-size: 18px;
}

  .offer__list-item  {
    grid-template-columns: repeat(1, 1fr);
  }
}

